@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    
}